.hero-main {
  width: 100%;
}
.hero-main__image {
  max-width: 100%;
  object-fit: cover;
}
.about__description {
  margin-top: 2rem;
}
.about__image {
  width: 100%;
  max-width: 400px;
  margin: 3rem auto;
}
.about__image-image {
  cursor: pointer;
  max-width: 100%;
  max-height: 400px;
  position: relative;
  transition: hover 300ms ease-in;
}
.about__image-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation {
  text-align: center;
  margin: 4rem auto;
}
.presentation__clip {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.presentation__clip img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 769px) {
  .presentation {
    margin-top: 12rem;
  }
  .presentation__heading {
    font-size: 2.6rem;
  }
  .presentation__clip {
    max-width: 700px;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1100px) {
  .about {
    display: flex;
    margin-top: 6rem;
  }
  .about__description {
    width: 60%;
    padding-right: 2rem;
  }
  .about__image {
    width: 33%;
  }
  .details__company {
    margin-top: 10rem;
  }
  .reviews {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .about__image {
    width: 30%;
  }
  .about__heading {
    margin-bottom: 1.5rem;
  }
}
