.references {
    margin-top: 8rem;
    text-align: center;
}
.references__heading.heading__small {
    font-size: 2rem;
}
.content__references {
    max-width: 300px;
    max-height: 500px;
    margin: 2rem auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content__references > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reviews {
    margin-top: 6rem;
}
.reviews__heading {
    text-align: center;
    margin-bottom: 1rem;
  }
@media screen and (min-width: 992px) {
    .references__content {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15rem;
    }
    .references {
        margin-top: 8rem;
    }
}