.services {
    margin-top: 8rem
}
.services__heading > a {
    color: var(--blue-color);
}
.services__heading > a:hover {
    color: var(--hover-btn);
}
.services__price {
    text-align: center;
    margin: 4rem 0 5rem;
}
.price__info {
    font-size: 2.5rem;
}
.price__item:nth-child(1) {
    font-size: 2.5rem;
}
.price__item--link {
      color: var(--blue-color); ;
}
.price__item--link:hover {
    color: var(--hover-btn); ;
}
.services__content {
    margin-top: 6rem;
}
.services__other-image {
    max-width: 500px;
    width: 100%;
    margin-top: 5rem;
}
.services__other-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services__icon {
    max-width: 200px;
    margin: 3rem auto;
}
.services__icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 769px) {
    .services__other {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
@media  screen and (min-width: 1200px) {
     .price__item {
      font-weight: 400;
      font-size: 1.7rem;
    }
    .services__content {
        margin-top: 10rem;
    }
    .services__price {
        margin: 5rem 0 0;
    }
    .price__info {
        font-size: 2.5rem;
    }
  }